@model ForumTopicViewModel
@{
    ViewData["Title"] = "ForumTopic";
}
<style>
    table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
    th, td {
    padding: 15px;
    text-align: left;
}
</style>
<div class="page-header">

</div>
<div>
    <a href="@Url.Action("CreatePost", "Forum")">Reply</a>
    <table style="width: 100%;">
        <tr>
            <th>Username</th>
            <th>@Model.ForumTopic.TopicTitle</th>
        </tr>
        <tr>
            <td>@Model.UserAccount.Username</td>
            <td>@Model.ForumTopic.TopicText</td>
        </tr>
        @foreach (var post in Model.ForumTopic.TopicPosts)
        {
            <tr>
                <td>@post.UserId</td>
                <td>@post.PostText</td>
            </tr>
        }
    </table>
</div>

