@model ForumTopicViewModel
@{
    ViewData["Title"] = "ForumTopic";
}
<style>
    table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

    button {
        position: relative;
        display: inline-block;
        text-align: center;
        height: auto;
        width: auto;
        margin: auto;
        background-color: black;
        color: white;
        border: thin;
        border-color: black;
        width:125px
    }

    th, td {
    padding: 15px;
    text-align: left;
}
</style>
<div class="page-header">

</div>
<div>
    <h2>@Model.ForumTopic.TopicTitle</h2>
    <form asp-action="CreatePost">
        <input style="display: none" name="id" value="@Model.TopicId"/>
        <button>Reply</button>
    </form>
    <br/>
    <table style="width: 100%;">
        <tr>
            <th>Username</th>
        </tr>
        <tr>
            <td style ="width: 20%">@Model.UserAccount.Username</td>
            <td>@Model.ForumTopic.TopicText</td>
        </tr>
        @foreach (var post in Model.ForumTopic.TopicPosts)
        {
            <tr>
                <td>@post.UserAccount.Username</td>
                <td>@post.PostText</td>
            </tr>
        }
    </table>
</div>

