@model ViewAllRoutinesViewModel
@{
    ViewData["Title"] = "ViewAllRoutines";
}

<style>
       button {
        position: relative;
        display: inline-block;
        text-align: center;
        height: auto;
        width: auto;
        margin: auto;
        background-color: black;
        color: white;
        border: thin;
        border-color: black;
    }
</style>
<div class="page-header"></div>
<div>
    <h2>View All Your Routines</h2>
    <table style="width:100%">
        <tr>
            <th>View Routine</th>
            <th>Routine Id</th>
            <th>Exercise</th>
            <th>Number of Reps</th>
            <th>Number of Sets</th>
            <th>Weight (lbs)</th>
        </tr>
        @foreach (var routine in Model.Routines)
        {
            foreach (var exercise in routine.Exercises)
            {
                <tr>
                    <td></td>
                    <td>@routine.Id</td>
                    <td>@exercise.ExerciseName</td>
                    <td>@exercise.Reps</td>
                    <td>@exercise.Sets</td>
                    <td>@exercise.Weight</td>
                </tr>
            }
        }
    </table>
    <br/>
    <form action="@Url.Action("CreateRoutine")"><button type="submit">Create a new Routine!</button></form>
</div>

