@model ViewAllRoutinesViewModel
@{
    ViewData["Title"] = "ViewAllRoutines";
}
<div class="page-header"></div>
<div>
    <h2>ViewAllRoutines</h2>
    <table style="width:100%">
        <tr>
            <th>View Routine</th>
            <th>Routine Id</th>
            <th>Exercise</th>
            <th>Number of Reps</th>
            <th>Number of Sets</th>
            <th>Weight (lbs)</th>
        </tr>
        @foreach (var routine in Model.Routines)
        {
            foreach (var exercise in routine.Exercises)
            {
                <tr>
                    <td><a href="@Url.Action("ViewRoutine", "Routine", routine.Id)">View Routine</a></td>
                    <td>@routine.Id</td>
                    <td>@exercise.ExerciseName</td>
                    <td>@exercise.Reps</td>
                    <td>@exercise.Sets</td>
                    <td>@exercise.Weight</td>
                </tr>
            }
        }
    </table>
</div>

